
*/.DS_Store

.DS_Store

Fullmodel_innerjoint/User_function/__pycache__/

Fullmodel_innerjoint/userfctR/__pycache__/

Fullmodel_innerjoint/workR/archives/

!Fullmodel_innerjoint/animationR/dirdyn_q.anim


*.png
*.res
*.anim
/Fullmodel_innerjoint/workR/fitness_data copie
/Fullmodel_innerjoint/workR/numpy_archive
Fullmodel_innerjoint/workR/px_data_validation.npy
Fullmodel_innerjoint/workR/Fm_GAS_L.npy
Fullmodel_innerjoint/workR/Fm_HFL_L.npy
Fullmodel_innerjoint/workR/HeelL_PX.npy
